/*CSS for The MOT Reminder*/
/*The main sections CSS*/
section {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #FFD96D;
}
html {
	position: relative;
	min-height: 100%;
	background-color: #FFD96D;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}
/*Navigation*/
	.re-nav {
		color: black!important;
		font-family: 'Roboto Slab', serif!important;	
		background-color: #ff6029!important;
		padding-left: 25%;
		padding-right: 25%;
	}
	.re-nav a {
		color: black!important;
		font-family: 'Roboto Slab', serif;	
	}
	.re-nav a:hover {
		color: black;
		font-family: 'Roboto Slab', serif;	
		text-decoration: underline;
	}
	.re-nav li {
		padding: 0px 30px; 
	}
	.re-navbutton {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.navbar-dark .navbar-toggler {
		border-color: black;
	}
	.re-center {
		text-align: center;
	}
/*About*/
	#about {
		margin-top: 100px;
	}
/*Image divider*/
	#image {
		margin: 0px;
		padding-bottom: 0px;
	}
	.parallax {
		/* The image used */
		background-image: url(http://www.evanshalshaw.com/images/218870/715720/1386369);
		/* Set a specific height */
		min-height: 300px; 
		/* Create the parallax scrolling effect */
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
/*Sign up and Sign in*/
	#sign {
		background-color: #FFD96D;
	}
	#signup {
		background-color: #FFD96D;
		padding: 30px;
	}
	#signin {
		background-color: #FFD96D;
		padding: 30px;
	}
/*Main section*/
	#hello {
		padding: 100px;
		background-color: #FFD96D;
	}
/*Forgot password*/
	#forgottenpassword {
		padding: 100px;
	}
	#changepassword {
		padding: 100px;
	}
/*Sign out*/
	#signout {
		 padding: 120px;
	}
	#signout div {
		position: relative;
		min-height: 100%;
		background-color: #FFD96D;
	}
/*Edit */
	#edit {
		padding: 100px;	
	}
/*Form CSS*/
	/*Button*/
	.re-button {
		background-color: #ff6029;
		font-family: 'Roboto Slab', serif;	
		color: black;
	}
	/*recaptcha*/
	.g-recaptcha {
		padding-bottom: 20px;
		padding-top: 20px;
	}
	.re-activated {
		padding: 20px;
		text-align: center;
	}
	.re-activated a {
		font-weight: 700;
	}
	/*Congratulations CSS*/
	.signinsucsess {
		padding: 20px;
		text-align: center;
		background-color: #FFD96D;
	}
	.signinsucsess a {
		font-weight: 700;
	}
	/*Error CSS*/
	.re-error {
		color: red;
		padding:10px 0px;
		font-weight:600;
	}
	.re-error h3 {
		color: red;
		font-weight:600;
	}
	.re-error p {
		color: red;
	}
	/*Car CSS*/
	.car {
		background-color: #ff6029;
		border-radius: 15px;
		margin: 5px;
		padding: 20px;
	}
	.car h5 {
		text-align: center;
	}
	/*Add car form CSS*/
	.addcar {
		padding-bottom: 20px;
	}
	/*Deleted the car text CSS*/
	.re-deleted {
		color: red;
		font-weight:600;
	}
/* The message box is shown when the user clicks on the password field*/
	#message {
		display:none;
		background: #f1f1f1;
		color: #000;
		position: relative;
		padding: 20px;
		margin-top: 10px;
		color: black;
	}
	#message li {
		padding: 10px 35px;
		font-size: 18px;
	}
/* Add a green text color and a checkmark when the requirements are right */
	.valid {
		color: green;
	}
	.valid:before {
		position: relative;
	}
	/* Add a red text color and an "x" when the requirements are wrong */
	.invalid {
		color: red;
	}
	.invalid:before {
		position: relative;
	}
/*Footer*/
	#footer {
		background-color: #ff6029;
		text-align: center;
		padding: 40px;
	}

	.footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		/* Set the fixed height of the footer here */
		height: 60px;
		line-height: 60px; /* Vertically center the text there */
		background-color: #f5f5f5;
	}
/*Fonts*/
/*The main font in the website: font-family: 'Roboto Slab', serif;*/
	h1 {
		font-family: 'Roboto Slab', serif;	
		color: black;
	}
	h2 {
		font-family: 'Roboto Slab', serif;	
		color: black;
	}
	h3 {
		font-family: 'Roboto Slab', serif;	
		color: black;
	}
	h4 {
		font-family: 'Roboto Slab', serif;	
		color: black;
	}
	h5 {
		font-family: 'Roboto Slab', serif;	
		color: black;
	}
	h5 a {
		font-family: 'Roboto Slab', serif;	
		color: black;
	}
	h6 {
		font-family: 'Roboto Slab', serif;	
		color: black;
	}
	p {
		font-family: 'Roboto Slab', serif;	
		color: black;
	}
	a {
		font-family: 'Roboto Slab', serif;	
		color: black;
	}
	a.nav-link {
		font-family: 'Roboto Slab', serif;	
		color: black;
	}
	label {
		font-family: 'Roboto Slab', serif;	
		color: black;
	}
	input {
		font-family: 'Roboto Slab', serif;	
		color: black;
	}
	ol {
		font-family: 'Roboto Slab', serif;	
		color: black;
		padding-left: 15px;
	}
	option {
		font-family: 'Roboto Slab', serif;	
		color: black;
	}